.todo-submit {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  position: relative;
  &_input {
    width: 300px;
    height: 30px;
    padding-left: 35px;
    border-radius: 4px;
  }
  &_button {
    margin-left: 10px;
    border-radius: 4px;
    background-color: #6fcf97;
    &:hover {
      background-color: darken(#6fcf97, 20%);
    }
    &:active {
      background-color: #6fcf97;
    }
  }
  .emoji-icon {
    position: absolute;
    margin-left: 7px;
    margin-top: 8px;
  }
}
