.todo-input {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  &_field {
    width: 70%;
  }
  &_button {
    margin-left: 10px;
    border-radius: 4px;
    background-color: #6fcf97;
    &:hover {
      background-color: darken(#6fcf97, 20%);
    }
    &:active {
      background-color: #6fcf97;
    }
  }
}
