.App {
  padding: 20px;
  text-align: center;
  height: calc(100vh);
  background-color: #bfc0c0;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  color: lighten(black, 20%);
  overflow: auto;
  padding: 30px 100px;
}
.title {
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px 30px;
  }
}
